.list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.item {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

p {
    margin: 0;
}

span {
    font-weight: bold;
}

.btn {
    margin-top: 50px;
    margin-bottom: 10px;
    background-color: #4CAF50;
    padding: 2px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;

}